@charset "UTF-8";

body {
    background-color: rgba(20, 65, 116, 0.753);
}

h1 {
    color: black;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: black;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}